{{ partial "header.html" . }}

<section class="overview">
    <h1>{{ .Title }}</h1>
    <ul>
        {{ range $el := .Paginator.Pages }}
        <li>
            <div class="meta">
                <h2>
                    <a href="{{ .RelPermalink }}">{{ $el.Title | markdownify }}</a>
                </h2>
                <time>{{ $el.Date.Format (.Site.Params.dateformPost | default "02.01.2006") }}</time>
            </div>
            {{if ge (len $el.Content) 500}}
            <section class="article-content">
                {{$el.Summary}} <a href="{{ .RelPermalink }}">---></a>
            </section>
            {{else}}
            <section class="article-content">
                {{$el.Content}}
            </section>
            {{end}}
        </li>
        {{ end }}
    </ul>
</section>

{{ partial "footer.html" . }}