{{ partial "header.html" . }}

<section class="categories">
  {{ range .Params.categories }}
  {{ $href := print (absURL "categories/") (urlize .) }}
  <a href="{{ $href }}">{{ . }}</a>
  {{ end }}
</section>
<section class="singleMeta">
  <time
    datetime="{{ .Date.Format "02-01-2006" }}">{{ .Date.Format (.Site.Params.dateform | default "15:04 MST 02-01-2006") }}</time>
  <h1>{{ .Title }}</h1>
</section>
<article>
  {{ .Content }}
</article>
<section class="tags">
  {{ range .Params.tags }}
  {{ $href := print (absURL "tags/") (urlize .) }}
  <a href="{{ $href }}">{{ . }}</a>
  {{ end }}
</section>

{{ partial "footer.html" . }}