{{ partial "header.html" . }}
<main>
  {{.Content}}
</main>
<section class="lastBlogPosts">
  {{ range first 5 ( where .Data.Pages "Section" "posts") }}
  <a href="{{.Permalink}}">{{.Title}}</a>
  {{ end }}
</section>
<section class="categories">
  {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
  <a href="{{.Permalink}}">{{.Title}}</a></li>
  {{end}}
</section>
<section class="tags">
  {{range ($.Site.GetPage "taxonomyTerm" "tags").Pages }}
  <a href="{{.Permalink}}">{{.Title}}</a></li>
  {{end}}
</section>
{{ partial "footer.html" . }}